<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">	<!-- 이름 붙여주기 -->
	
	<!-- Member의 필드명과 컬럼명이 다르기때문에 연결시켜주기  -->
	<resultMap type="com.eat.today.member.model.vo.Member" id="memberResultMap">
<!-- 	PRIMARY KEY 이기때문에 id로 구분 -->
		<id property="memberId" 		  column="MEMBER_ID" /> 
		<result property="memberPw"		  column="MEMBER_PW"/>
		<result property="memberPwRe"	  column="MEMBER_PWRE"/>
		<result property="memberName" 	  column="MEMBER_NAME"/>
		<result property="memberPhone" 	  column="MEMBER_PHONE"/>
		<result property="memberEmail" 	  column="MEMBER_EMAIL"/>
		<result property="memberAddress"  column="MEMBER_ADDRESS"/>
		<result property="memberGender"   column="MEMBER_GENDER"/>
		<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
	</resultMap>

	<insert id="insertMember">
		INSERT INTO MEMBER_TBL VALUES(#{memberId},#{memberPw},#{memberPwRe}
		,#{memberName},#{memberPhone},#{memberEmail},#{memberAddress},#{memberGender},#{memberBirthday})
	</insert>
	
	<select id="selectLongin" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId } AND MEMBER_PW = #{memberPw }
	</select>
	
	<select id="selectOneByEmail" resultMap="memberResultMap">
		SELECT MEMBER_ID FROM MEMBER_TBL WHERE MEMBER_NAME = #{memberName } AND MEMBER_EMAIL = #{memberEmail }
	</select>
	
	<select id="selectOneByPhone" resultMap="memberResultMap">
		SELECT MEMBER_ID FROM MEMBER_TBL WHERE MEMBER_NAME = #{memberName } AND MEMBER_PHONE = #{memberPhone }
	</select>
	
	<select id="selectPwOneByPhone" resultMap="memberResultMap">
		SELECT MEMBER_PW FROM MEMBER_TBL WHERE MEMBER_NAME = #{memberName } AND MEMBER_PHONE = #{memberPhone }
	</select>
	
		<select id="selectPwOneByEmail" resultMap="memberResultMap">
		SELECT MEMBER_PW FROM MEMBER_TBL WHERE MEMBER_NAME = #{memberName } AND MEMBER_Email = #{memberEmail }
	</select>
</mapper>